$blue-main: rgba(21, 101, 192, 0.7)

nav
    background: $blue-main
    display: flex
    align-items: center
    height: 10vh
    border-bottom: 4px solid #77ece6
    position: fixed
    width: 100%
    a
        color: white
        &:hover
            text-decoration: none
            color: #c3d4e9
    ul
        display: flex
        list-style: none
        align-items: center
        justify-content: flex-end
        li 
            padding: 1rem
